@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-6;
}

body {
  font-family: 'Nunito', sans-serif;
}

@media (min-width: 1023px) {
  .container {
    @apply px-10;
  }
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -8px; /*gutter size offset*/
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Hide scroll bar */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Disable body scroll when modal is open */
.no-scroll {
  overflow: hidden;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page,
.prev,
.next,
.break {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: #333;
  border: 1px solid #a3a7ab;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page:hover,
.prev:hover,
.next:hover {
  background-color: #f0f0f0;
}

.active {
  color: #228b22;
  border: 2px solid #228b22;
}

.disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  opacity: 50%;
  pointer-events: none;
}

/* React datepicker */
.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  font-size: small;
  border: none;
  padding: 2px 6px;
}

.react-datepicker__header__dropdown--select {
  margin: 7px 2px 3px;
}

.react-datepicker-time__input {
  border-radius: 4px;
  font-size: 13px;
}

/* .react-datepicker-time__input:focus {
  border: 2px solid #3992b3;
  box-shadow: none;
} */

/* [type='text']:focus,
[type='password']:focus,
select:focus,
textarea:focus {
  box-shadow: none;
} */
